Question 1: Some of the orders are stored in another csv file named `bigkart_newsales`. Read the csv file, store it in a data frame and add it to the `bigkart_sales` data frame. Find the total sales value of the category 'Office Supplies' after combining the dataframes

In [2]:

import pandas as pd
df1 = pd.read_csv('C:/Users/MUNNI SHAIK/Downloads/bigkart_newsales.csv')
df2 = pd.read_csv('C:/Users/MUNNI SHAIK/Downloads/bigkart_sales.csv')
df2=pd.concat([df2,df1],ignore_index=True)
df2

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category
0,AZ-2011-1029887,"Novimex Color Coded Labels, 5000 Label Set",0.0,26,7,2,Office Supplies,Labels
1,AZ-2011-107716,"Deflect-O Door Stop, Erganomic",0.0,85,15,2,Furniture,Furnishings
2,AZ-2011-1087704,"Belkin Flash Drive, Bluetooth",0.0,294,109,7,Technology,Accessories
3,AZ-2011-1372644,"Panasonic Printer, Durable",0.0,800,168,3,Technology,Machines
4,AZ-2011-1362199,"Sanford Pens, Fluorescent",0.5,25,-11,4,Office Supplies,Art
...,...,...,...,...,...,...,...,...
63,AZ-2011-1967754,"Logitech Numeric Keypad, USB",0.0,93,40,2,Technology,Accessories
64,AZ-2011-1976919,"Boston Markers, Blue",0.0,132,54,5,Office Supplies,Art
65,AZ-2011-2001312,"Avery Binding Machine, Clear",0.0,97,12,2,Office Supplies,Binders
66,AZ-2011-2002251,"SanDisk Computer Printout Paper, 8.5 x 11",0.0,136,15,4,Office Supplies,Paper
67,AZ-2011-201891,"Cameo Clasp Envelope, with clear poly window",0.0,52,19,4,Office Supplies,Envelopes

In [3]:
df=df2
office=df.loc[df['Category'] == 'Office Supplies' ]
total_sales= office['Sales'].sum()
print(total_sales)

7970

Question 2: There are some duplicate rows in the data frame. Drop these rows and calculate the total sales value of the category Office Supplies.

In [4]:
df=df.drop_duplicates(ignore_index=True)
office=df.loc[df['Category'] == 'Office Supplies' ]
total_sales= office['Sales'].sum()
print(total_sales)

6964

Question 3: Find the most profitable category and sub category combination based on the net profit

In [97]:
most_profit = df.loc[df['Profit']==df['Profit'].max()]
most_profit[['Category','Sub-Category']]

      Category Sub-Category
26  Technology       Phones

Question 4: How many invalid order IDs are there in the data frame. An order id is of the form AZ-2011-Y where Y represents a whole number. A Order ID is said to be valid only if Y consists of 7 digits. Find the number of invalid order order IDs in the data frame.

In [96]:
df['Order no']=df['Order ID'].str.split('-')
df['Order no']=df['Order no'].apply(lambda x: x[2])
df['no_of_digits']=df['Order no'].apply(lambda x: len(x))
df['no_of_digits'].value_counts()

7    47
6     6
Name: no_of_digits, dtype: int64

Question 5: Find the top 25 orders based on sales value and find the number of orders which belong to furniture category.

In [95]:
top_25=df.sort_values(by='Sales', ascending=False)
top_25=top_25.iloc[:25,]
num_of_ords=top_25[top_25['Category']=='Furniture']
num_of_ords['Order ID'].count()

5

Question 6: Among the orders with sales>250 and profit>50, find the product name of the fourth highest order based on sales value.

In [94]:
highest_order=df.loc[(df['Sales']>250) & (df['Profit']>50)]
highest_order=highest_order.sort_values(by='Sales',ascending=False)
product = highest_order.reset_index().iloc[3]['Product Name']
product

'Motorola Headset, with Caller ID'

Question 7: Remove the orders with negative profit by dropping the corresponding rows with negative `Profit`. Find the product that makes the lowest profit per Quantity in the Technology category.

In [106]:
# df = df.drop(df.index[[df['Profit']<0]].tolist())
lowest_profit=df[df.Profit>0]
lowest_profit=lowest_profit.loc[lowest_profit.Category=='Technology']
lowest_profit
lowest_profit['Profit_per_qty']=lowest_profit['Profit']/lowest_profit['Quantity']
lowest_profit=lowest_profit.sort_values(by='Profit_per_qty',ascending=True)#.loc[3]['Product Name']
lowest_profit['Product Name']

39     Logitech Keyboard, Programmable
2        Belkin Flash Drive, Bluetooth
13       Belkin Flash Drive, Bluetooth
63        Logitech Numeric Keypad, USB
8     Nokia Audio Dock, with Caller ID
20    Motorola Headset, with Caller ID
3           Panasonic Printer, Durable
28          Panasonic Printer, Durable
52              Cisco Audio Dock, VoIP
33         Apple Smart Phone, Cordless
30        Nokia Smart Phone, Full Size
Name: Product Name, dtype: object